html{
    background-image: url('background.jpg');
    background-color: lemonchiffon;
    background-size:cover;
    background-blend-mode:overlay;

}

.page{
    position: relative;
    font-family: arial;
    color: rgb(33, 38, 61);
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.summary{
    position: relative;
    background: rgba(165, 196, 192,1);
    top:30px;
    border-radius: 10%;
    border-width:5px;
    border-style: solid;
    border-color: turquoise;
    display: block;
    float:left;
    width:400px;
    font-size:22px;
    text-align: left;
    margin: 20px auto;
    padding-left: 20px;
}

.cat{
    margin-top: 5%;
    z-index:-1;
    position:relative;
    height:auto;
    width:400px;
    object-fit: contain;
    float:right;
    border-style:solid;
    border-width: 10px;
    border-color:turquoise;
    border-radius: 10%;
}

.cat1{
    width:500px;
    position:relative;
    margin-top:10%;
    transform: rotate(330deg);
    z-index: -1;
}

h1{
    text-decoration: underline;
}
.nav{
    color: grey;
    font-size: 23px;   
}

a{
    padding: 30px;
    margin: 30% auto;

}
